p {
  color: blue;
  background-color: chartreuse;
  font-size: 20px;
}

/* TODO: AÑADIR BACKGROUND H1 Y CAMBIAR SU TAMAÑO A 50PX */

h1 {
  background-color: cornflowerblue;
  font-size: 50px;
}

h3 {
  background-color: orange;
}

#estado {
  background-color: brown;
}

.btn {
  background-color: goldenrod;
}

.texto-resaltado {
  color: blue;
}
